*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
        text-align: center;
        align-items: center;
        background-color: rgb(128, 103, 94);
        padding: 24px;
        color: rgb(231, 223, 223);
        position: relative;
        align-content: space-between;
        font-family: "Federo", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    header form{
        display: contents;
        gap: 5px;
    }
    .kurale-regular {
        font-family: "Kurale", serif;
        font-weight: 400;
        font-style: normal;
      }
      .federo-regular {
        font-family: "Federo", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: rgb(155, 137, 137); 
      }
      
      .menu li {
        display: inline-block; 
        position: relative; 
      }
      
      .menu a {
        display: block;
        padding: 15px 20px;
        color: #f3e4e4; 
        text-decoration: none;
      }
      
    
      .submenu .submenu-content {
        display: none; 
        position: absolute;
        background-color: rgb(97, 78, 71); 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
        z-index: 1; 
      }
      
      .submenu:hover .submenu-content {
        display: block; 
      }
      
      .submenu-content li {
        display: block; 
      }

    main{
        height: auto;
        width: 100%;
        background-color: rgb(240, 220, 209);
        display: flex;
        justify-content: space-between;
        font-family: "Kurale", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    #principal {
      height: 1600px;
      width:400px;
      background-color: rgb(212, 195, 185);
      margin: 10px;
      padding: 30px;
      border-radius: 30px;
      border-width: medium;
      border-style: solid;
      border-color: rgb(5, 5, 5);
      display: flex; 
      flex-direction: column;
      text-align: center;
      align-items: center;
  }
  #contenedor {
      height: 1600px;
      width:400px;
      background-color: rgb(212, 195, 185);
      margin: 10px;
      padding: 30px;
      border-radius: 30px;
      border-width: medium;
      border-style: ridge;
      border-color: rgb(90, 64, 50);
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      
  }
  #secundario {
      height: 1600px;
      width:400px;
      background-color: rgb(216, 196, 185);
      margin: 10px;
      padding: 30px;
      border-radius: 10px;
      border-style: groove;
      border-color: rgb(94, 71, 62);
      border-width: 3px;
  }

    .card {
        background-color: rgb(155, 137, 137);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 250px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
        height: 200px;
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: auto;
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    
    .card h2 {
        font-size: 1.5em;
        color: #000000;
    }
    
    .card p {
        color: #fff9f9;
    }
    footer.footer {
      text-align: center;
      background: #615c4b;
      color: #fff;
      padding: 1rem 0;
      margin-top: 2rem;
      font-size: 0.9rem;
  }